body {
    margin: 40px auto;
    width: 70%;
    background-image: url('bg.jpg');
}
nav ul, footer ul {
    font-family: Verdana, Geneva;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family: Verdana, Geneva;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
p {
    font-size: 1em;
    font-family: Verdana, Geneva;
    line-height: 1.2em;
    color: #003326;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
